#root {
  margin: 0 auto;
  /* text-align: center; */
}

.login-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.93);
  text-align: center;
}

.login-box {
  background-color: #272727;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(
    149deg,
    rgba(21, 21, 21, 0.5) 0%,
    rgba(21, 21, 21, 0.75) 100%
  );
  backdrop-filter: blur(40px);
  position: relative;
  z-index: 0;
}

.login-box h1 {
  font-size: 2.5rem;
  padding: 10px;
}

.login-box p {
  font-size: 1.5rem;
  padding: 30px 75px 5px 75px;
  margin-bottom: 30px;
}

.log-in-spotify {
  font-size: 1rem;
  padding: 20px 70px;
  margin: 25px 0;
  background-color: white;
  color: black;
  transition: all 0.15s ease-in-out;
  border-radius: 50px;
  font-weight: 700;
}

.log-in-spotify:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.color-blobs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.97);
  z-index: -1;
}

.main-page {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 1fr 80px / minmax(250px, auto) 1fr;
  grid-template-areas:
    "nav center"
    ". center";
}

.nav-bar {
  box-shadow: -5px -10px 15px rgba(0, 0, 0, 0.75);
  text-align: left;
  grid-area: nav;
  overflow: hidden;
  z-index: 2;
}

.nav-bar > nav {
  display: grid;
  grid-template-rows: 138px 1fr;
  gap: 30px;
  height: 100%;
  overflow: hidden;
}

.nav-logo {
  transform: scale(1.15);
}

.go-home {
  display: block;
  margin: 40px 50px 20px 40px;
}

.nav-section {
  width: 100%;
}

.nav-button {
  border: none;
  display: flex;
  align-items: center;
  height: 50px;
  text-align: left;
  padding: 0 35px;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.nav-button .nav-icon,
.nav-button .nav-link,
.nav-playlist {
  opacity: 0.7;
  transition: all 0.15s ease;
}

.nav-button-pl {
  height: 60px;
  gap: 15px;
  padding: 0 0 0 30px;
}

.nav-button:hover {
  cursor: pointer;
  background-color: #212121;
}

.nav-button:hover .nav-playlist,
.nav-button:hover .nav-link,
.nav-button:hover .nav-icon {
  opacity: 1;
}

.nav-title {
  color: white;
  font-size: 0.88rem;
  font-weight: 600;
  letter-spacing: 1px;
  opacity: 0.75;
  margin: 10px 35px;
}

.nav-icon {
  font-size: 1.65rem;
}

.nav-pl-img {
  height: 40px;
  width: 40px;
  border-radius: 5px;
}

.nav-artist-img {
  border-radius: 100%;
}

.nav-link {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.88rem;
}

.pl-container {
  display: grid;
  grid-template-rows: 1fr;
}

.playlist-list {
  overflow-y: auto;
}

.nav-playlist {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.88rem;
}

.nav-text {
  margin-top: 5px;
  font-size: 0.9rem;
  opacity: 0.5;
}

.center {
  display: grid;
  grid-template: 80px 1fr / 1fr;
  overflow-y: auto;
  grid-area: center;
  grid-template-areas: "header" "content";
  background-color: #202020;
}

.center-content {
  grid-area: content;
  padding: 120px 40px 20px 40px;
  margin-top: -80px;
  padding-bottom: 100px;
  height: 100%;
  background: linear-gradient(180deg, #202020 0%, #181818 15%);
}

.pl-route-content,
.artist-route-content,
.album-route-content {
  display: grid;
  grid-template-rows: 350px 1fr;
  grid-area: content;
  padding: 80px 0;
  margin-top: -80px;
  background: #181818;
}

.default-search {
  display: grid;
  place-content: center;
  padding: 100px;
}

.header {
  grid-area: header;
  height: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  padding: 0 40px;
  position: fixed;
  z-index: 1;
  left: 250px;
  right: 0;
  background-color: rgba(20, 20, 20, 0.75);
  backdrop-filter: blur(40px);
  transition: background-color 0.3s ease-in-out;
}

.search-bar {
  background-color: #272727;
  width: 325px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 15px;
  justify-self: start;
  margin-right: 10vw;
}

.user-menu {
  height: 45px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #202020;
  border-radius: 50px;
  padding: 0 10px;
  gap: 10px;
  justify-self: end;
}

.user-img {
  width: 30px;
  height: 30px;
  background-color: #272727;
  border-radius: 100%;
  object-fit: cover;
}

.user-menu p {
  padding-right: 10px;
}

.search-icon {
  font-size: 1.25rem;
}

.search-input {
  background: transparent;
  font-size: 0.9rem;
  border: none;
  width: 100%;
  padding: 0 15px;
}

.search-input:focus {
  outline: none;
}

.search-result {
  display: flex;
  gap: 20px;
  text-align: left;
  align-items: center;
}

.result-img {
  height: 64px;
  width: 64px;
}

.logout {
  width: 100px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;
}

.player-controls {
  background: linear-gradient(
    168deg,
    rgba(18, 18, 18, 0.75) 0%,
    rgba(18, 18, 18, 0.75) 0%,
    rgba(18, 18, 18, 0.75) 0%,
    rgba(18, 18, 18, 0.8) 50%,
    rgba(18, 18, 18, 0.7) 75%
  );
  position: fixed;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(40px);
  height: 80px;
  width: 100vw;
  z-index: 2;
}

.home-greeting {
  font-size: 2.25rem;
  font-weight: 700;
}

.track-cards {
  margin-top: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template: 275px / repeat(auto-fit, 200px);
  gap: 30px;
}

.play-btn {
  visibility: hidden;
  border-radius: 50px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  opacity: 0;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

.play-btn path {
  color: #ff2d6c;
}

.play-btn-bg {
  display: grid;
  place-content: center;
  visibility: hidden;
  position: absolute;
  background-color: black;
  right: 25px;
  top: 130px;
  width: 50px;
  height: 50px;
  opacity: 0;
  border-radius: 100%;
  transition: opacity 0.3s ease, visibility 0.3s ease, top 0.3s ease;
}

.card:hover .play-btn-bg,
.card:hover .play-btn {
  visibility: visible;
  opacity: 1;
  top: 125px;
}

.card {
  position: relative;
  width: 200px;
  height: 275px;
  background-color: #202020;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.card:hover {
  background-color: #252525;
  cursor: pointer;
}

.cover-img {
  width: 100%;
  height: 170px;
  background-color: #272727;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-bottom: 15px;
  object-fit: cover;
  display: grid;
  place-content: center;
}

.img-placeholder-icon {
  font-size: 4rem;
  opacity: 0.3;
}

.cover-img {
  object-fit: cover;
}

.artist-img {
  border-radius: 100%;
}

.card-title {
  font-size: 0.95rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  font-size: 0.88rem;
  opacity: 0.7;
}

.footer {
  grid-area: footer;
  display: grid;
  place-content: center;
  padding-bottom: 80px;
}

.playlist-page-top {
  background: linear-gradient(180deg, #fb4c6c 0%, #181818 90%);
  width: 100%;
  padding: 15px;
  margin-bottom: -500px;
  z-index: 0;
}

.playlist-page-top > div {
  display: grid;
  grid-template: 1fr/ 200px 1fr;
  align-items: end;
  gap: 30px;
  padding: 40px;
  margin-top: 50px;
}

.playlist-cover-wrap {
  display: grid;
  place-content: center;
  height: 200px;
  width: 200px;
  background-color: #272727;
  box-shadow: 0 8px 50px rgba(0, 0, 0, 0.5);
}

.playlist-cover {
  width: 100%;
  height: 100%;
}

.playlist-title-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.route-type {
  font-size: 0.88rem;
}

.type-title {
  font-size: 3rem;
  padding-top: 10px;
  padding-bottom: 15px;
}

.type-description {
  font-size: 0.88rem;
  font-weight: 500;
  opacity: 0.9;
  padding-bottom: 15px;
}

.type-info {
  font-size: 0.88rem;
  font-weight: 600;
}

.playlist-tracks {
  display: grid;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(40px);
}

.playlist-li {
  display: grid;
  grid-template: 70px / 25px auto 1fr 300px 100px;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  gap: 15px;
  padding: 0 10px;
}

.playlist-li:hover {
  background-color: rgba(255, 255, 255, 0.075);
  cursor: pointer;
}

.playlist-li-index {
  width: 20px;
  display: flex;
  justify-content: right;
}

.playlist-li-img {
  height: 50px;
  width: 50px;
}

.playlist-li-img > img {
  height: 100%;
  border-radius: 3px;
}

.playlist-li-text > h4 {
  padding-bottom: 5px;
  font-size: 0.95rem;
  font-weight: 500;
}

.playlist-li-album > h4 {
  font-size: 0.88rem;
  font-weight: 500;
  opacity: 0.75;
}

.playlist-li-text > p {
  font-size: 0.88rem;
  opacity: 0.8;
  width: 300px;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow beyond the container */
  text-overflow: ellipsis; /* Show "..." at the end of the text */
}

.playlist-li-duration {
  font-size: 0.88rem;
  margin-right: 50px;
  opacity: 0.75;
  justify-self: right;
}
