#root {
  margin: 0 auto;
  text-align: center;
}

.login-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.93);
}

.login-box {
  background-color: #272727;
  height: 400px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: linear-gradient(
    149deg,
    rgba(21, 21, 21, 0.5) 0%,
    rgba(21, 21, 21, 0.75) 100%
  );
  backdrop-filter: blur(40px);
  position: relative;
  z-index: 0;
}

.login-box h1 {
  font-size: 2.5rem;
  padding: 10px;
}

.login-box p {
  font-size: 1.5rem;
  padding: 30px 75px 5px 75px;
  margin-bottom: 30px;
}

.log-in-spotify {
  font-size: 1rem;
  padding: 20px 70px;
  margin: 25px 0;
  background-color: white;
  color: black;
  transition: all 0.15s ease-in-out;
  border-radius: 50px;
  font-weight: 700;
}

.log-in-spotify:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.color-blobs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.97);
  z-index: -1;
}

.main-page {
  width: 100vw;
  display: grid;
  grid-template: 100vh / 250px auto;
  grid-template-areas: "nav center";
}

.nav-bar {
  /* border-right: 1px solid rgba(255, 255, 255, 0.05);  */
  box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.75);
  text-align: left;
  grid-area: nav;
  overflow: hidden;
  z-index: 2;
}

.nav-logo {
  transform: scale(1.15);
}

.go-home {
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
  margin-right: 50px;
  margin-left: 50px;
}

.nav-section {
  display: grid;
  grid-template-rows: repeate(3, 50px);
  width: 100%;
  margin-bottom: 40px;
}

.nav-button {
  border: none;
  display: flex;
  align-items: center;
  height: 50px;
  text-align: left;
  padding: 0 40px;
  gap: 20px;
  transition: all 0.3s ease-in-out;
}

.nav-button:hover {
  cursor: pointer;
  background-color: #212121;
}

.nav-title {
  color: white;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.75;
  margin: 10px 40px;
}

.nav-icon {
  font-size: 1.65rem;
}

.nav-link {
  font-weight: 600;
  font-size: 1rem;
}

.center-content {
  padding: 100px 40px;
}

.header {
  height: 80px;
  width: 100%;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #191919;
  position: fixed;
  z-index: 1;
}

.center {
  overflow-y: auto;
  grid-area: center;
}

.player-controls {
  background: linear-gradient(
    168deg,
    rgba(18, 18, 18, 0.75) 0%,
    rgba(18, 18, 18, 0.75) 0%,
    rgba(18, 18, 18, 0.75) 0%,
    rgba(18, 18, 18, 0.8) 50%,
    rgba(18, 18, 18, 0.7) 100%
  );
  position: fixed;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(40px);
  height: 80px;
  width: 100vw;
}

.search-bar {
  background-color: #272727;
  width: 325px;
  height: 45px;
  display: flex;
  align-items: center;
  border-radius: 50px;
  padding: 15px;
}

.search-icon {
  font-size: 1.25rem;
}

.search-input {
  background: transparent;
  font-size: 0.9rem;
  border: none;
  width: 100%;
  padding: 0 15px;
}

.search-input:focus {
  outline: none;
}

.search-result {
  display: flex;
  gap: 20px;
  text-align: left;
  align-items: center;
}

.result-img {
  height: 64px;
  width: 64px;
}

.logout {
  width: 100px;
  height: 30px;
  background-color: white;
  color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border: none;
}
